In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
sns.set_style('whitegrid')

# 01 - Importar DataFrames Originais

In [2]:
off = ".//Data//Small_Data//offline_sales.json"
on = './Data/Small_Data/online_orders.json'

In [3]:
## Carregar Arquivo (customer_id e visitor_id como string para evitar notação cientifica)
df_off = pd.read_json(off, lines=True, dtype={'customer_id': str})
df_on = pd.read_json(on, lines=True, dtype={'visitor_id':str,'customer_id': str})

In [8]:
## Substitui None por NaN
df_off.customer_id.replace('None', np.nan, inplace=True)
df_on.customer_id.replace('None', np.nan, inplace=True)
df_on.visitor_id.replace('None', np.nan, inplace=True)

## 1.1 - Comparação de Clientes que utilizam ambos serviços 
**Esses números descartam clientes com identificação faltante**

In [34]:
clients_off = df_off.dropna().groupby('customer_id').sum().reset_index().customer_id
clients_on = df_on.dropna().groupby('customer_id').sum().reset_index().customer_id

lista_off = list(clients_off)
lista_on = list(clients_on)

In [32]:
## Quantidade de clientes que compraram tanto online quanto offline
clients_off.isin(lista_on).sum()

457

In [64]:
#### Aprimorar essa função usando seleção por estado com maior faturamento
def get_state(name):
    return ''.join(list(df_off[df_off.customer_id==name].state.value_counts().index)[0])

In [65]:
## Cria lista de clients utilizaram ambos serviços
clients_both = []
estados = []
for name in lista_off:
    ## Se nome do cliente off existe no clients On apenda id, se nao, passsa
    if clients_on.isin([name]).sum()>=1:
        clients_both.append(name)
        estados.append(get_state(name))
    else:
        pass

In [73]:
dict_clients = dict(zip(clients_both, estados))

In [80]:
df_both = pd.DataFrame(list(zip(clients_both, estados)), columns=['customer_id','state'])

In [150]:
## LIsta de Clientes Identificados que utilizaram ambos serviços
df_both.head()

            customer_id state
0  30313235376530633063    RJ
1  30313239643866643564    RJ
2  30323636393364386334    RJ
3  30326138306138626565    RJ
4  30326337663562336538    RJ

In [82]:
#Numero de Clientes que utilizam ambos serviços
n_both = len(df_both)

# 02 - Importar Outputs Off e Online

In [138]:
out_off = './Outputs/Offline_Data/Off_Output_Horizontal.csv'
out_on = './Outputs/Online_Data/On_Output_Horizontal.csv'

In [139]:
o_off = pd.read_csv(out_off).drop('Unnamed: 0', axis=1)
o_on = pd.read_csv(out_on).drop('Unnamed: 0', axis=1)

## 2.1 - Gerar Dados de Saída Combinados

In [140]:
fat_off = int(o_off.faturamento_total.values)
fat_on = int(o_on.faturamento_total.values)
fat_total = fat_off+fat_on

In [141]:
print('Faturamento das Lojas Físicas:', fat_off)
print('Faturamento da Loja Virtual', fat_on)
print('Faturamento total:',fat_total)

Faturamento das Lojas Físicas: 13747940
Faturamento da Loja Virtual 5641837
Faturamento total: 19389777